In [53]:
movie = pd.read_csv('./datas/final_movie_Rev6.csv', index_col=[0])
movie.reset_index(drop=True, inplace=True)

In [54]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 813 entries, 0 to 812
Data columns (total 73 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Movie           813 non-null    object
 1   Distributor     813 non-null    object
 2   Screen          813 non-null    int64
 3   Sales           813 non-null    float64
 4   Audience        813 non-null    int64
 5   이경영             813 non-null    int64
 6   정인기             813 non-null    int64
 7   마동석             813 non-null    int64
 8   배성우             813 non-null    int64
 9   오달수             813 non-null    int64
 10  라미란             813 non-null    int64
 11  조진웅             813 non-null    int64
 12  김기천             813 non-null    int64
 13  한이진             813 non-null    int64
 14  오정세             813 non-null    int64
 15  CJEnM           813 non-null    int64
 16  LotteShop       813 non-null    int64
 17  Next            813 non-null    int64
 18  ShowBox         813 non-null    int64
 19  CJEnt           813 non-null    int64
 20  rate_12세이상관람가   813 non-null    int64
 21  rate_15세이상관람가   813 non-null    int64
 22  rate_18세관람가     813 non-null    int64
 23  rate_전체관람가      813 non-null    int64
 24  rate_청소년관람불가    813 non-null    int64
 25  genre_SF        813 non-null    int64
 26  genre_가족        813 non-null    int64
 27  genre_공연        813 non-null    int64
 28  genre_공포(호러)    813 non-null    int64
 29  genre_기타        813 non-null    int64
 30  genre_다큐멘터리     813 non-null    int64
 31  genre_드라마       813 non-null    int64
 32  genre_멜로/로맨스    813 non-null    int64
 33  genre_뮤지컬       813 non-null    int64
 34  genre_미스터리      813 non-null    int64
 35  genre_범죄        813 non-null    int64
 36  genre_사극        813 non-null    int64
 37  genre_서부극(웨스턴)  813 non-null    int64
 38  genre_스릴러       813 non-null    int64
 39  genre_애니메이션     813 non-null    int64
 40  genre_액션        813 non-null    int64
 41  genre_어드벤처      813 non-null    int64
 42  genre_전쟁        813 non-null    int64
 43  genre_코미디       813 non-null    int64
 44  genre_판타지       813 non-null    int64
 45  season_1        813 non-null    int64
 46  season_2        813 non-null    int64
 47  season_3        813 non-null    int64
 48  season_4        813 non-null    int64
 49  year_2008       813 non-null    int64
 50  year_2009       813 non-null    int64
 51  year_2010       813 non-null    int64
 52  year_2011       813 non-null    int64
 53  year_2012       813 non-null    int64
 54  year_2013       813 non-null    int64
 55  year_2014       813 non-null    int64
 56  year_2015       813 non-null    int64
 57  year_2016       813 non-null    int64
 58  year_2017       813 non-null    int64
 59  year_2018       813 non-null    int64
 60  year_2019       813 non-null    int64
 61  month_1         813 non-null    int64
 62  month_2         813 non-null    int64
 63  month_3         813 non-null    int64
 64  month_4         813 non-null    int64
 65  month_5         813 non-null    int64
 66  month_6         813 non-null    int64
 67  month_7         813 non-null    int64
 68  month_8         813 non-null    int64
 69  month_9         813 non-null    int64
 70  month_10        813 non-null    int64
 71  month_11        813 non-null    int64
 72  month_12        813 non-null    int64
dtypes: float64(1), int64(70), object(2)
memory usage: 463.8+ KB

In [55]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(movie, test_size=0.1, random_state=13)

In [56]:
movie['screen_cat'] = pd.cut(movie['Screen'], bins=[0, 500, 1000, 1500, 2000, np.inf], labels=[1, 2, 3, 4, 5])

In [57]:
movie.sort_values(by='screen_cat')

,Movie,Distributor,Screen,Sales,Audience,이경영,정인기,마동석,배성우,오달수,...,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12,screen_cat
406,소녀괴담,(주)리틀빅픽쳐스,455,3546.340054,480528,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
561,히트,(주)넥스트엔터테인먼트월드(NEW),171,771.023500,109019,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
562,허밍,롯데쇼핑㈜롯데엔터테인먼트,167,640.923000,104850,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
320,숙명,씨제이엔터테인먼트,341,5680.873500,858215,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
319,미확인 동영상 : 절대클릭금지,(주)쇼박스,361,5939.840500,867386,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,안시성,(주)넥스트엔터테인먼트월드(NEW),1540,46335.334026,5440186,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,4
39,백두산,"씨제이이앤엠(주),(주)덱스터스튜디오",1971,52905.789770,6290502,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,4
0,명량,씨제이이앤엠(주),1587,135748.398910,17613682,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,4
38,군함도,씨제이이앤엠(주),2027,50510.565168,6592151,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,5
9,신과함께-인과 연,롯데컬처웍스(주)롯데엔터테인먼트,2235,102476.768809,12253247,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,5

In [58]:
from sklearn.model_selection import StratifiedShuffleSplit

split = StratifiedShuffleSplit(n_splits=3, test_size=0.1, random_state=13)
for train_index, test_index in split.split(movie, movie['screen_cat']):
    strat_train_set = movie.loc[train_index]
    strat_test_set = movie.loc[test_index]

In [59]:
movie = strat_train_set.copy()

In [64]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 731 entries, 610 to 274
Data columns (total 72 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Movie           731 non-null    object
 1   Distributor     731 non-null    object
 2   Screen          731 non-null    int64
 3   이경영             731 non-null    int64
 4   정인기             731 non-null    int64
 5   마동석             731 non-null    int64
 6   배성우             731 non-null    int64
 7   오달수             731 non-null    int64
 8   라미란             731 non-null    int64
 9   조진웅             731 non-null    int64
 10  김기천             731 non-null    int64
 11  한이진             731 non-null    int64
 12  오정세             731 non-null    int64
 13  CJEnM           731 non-null    int64
 14  LotteShop       731 non-null    int64
 15  Next            731 non-null    int64
 16  ShowBox         731 non-null    int64
 17  CJEnt           731 non-null    int64
 18  rate_12세이상관람가   731 non-null    int64
 19  rate_15세이상관람가   731 non-null    int64
 20  rate_18세관람가     731 non-null    int64
 21  rate_전체관람가      731 non-null    int64
 22  rate_청소년관람불가    731 non-null    int64
 23  genre_SF        731 non-null    int64
 24  genre_가족        731 non-null    int64
 25  genre_공연        731 non-null    int64
 26  genre_공포(호러)    731 non-null    int64
 27  genre_기타        731 non-null    int64
 28  genre_다큐멘터리     731 non-null    int64
 29  genre_드라마       731 non-null    int64
 30  genre_멜로/로맨스    731 non-null    int64
 31  genre_뮤지컬       731 non-null    int64
 32  genre_미스터리      731 non-null    int64
 33  genre_범죄        731 non-null    int64
 34  genre_사극        731 non-null    int64
 35  genre_서부극(웨스턴)  731 non-null    int64
 36  genre_스릴러       731 non-null    int64
 37  genre_애니메이션     731 non-null    int64
 38  genre_액션        731 non-null    int64
 39  genre_어드벤처      731 non-null    int64
 40  genre_전쟁        731 non-null    int64
 41  genre_코미디       731 non-null    int64
 42  genre_판타지       731 non-null    int64
 43  season_1        731 non-null    int64
 44  season_2        731 non-null    int64
 45  season_3        731 non-null    int64
 46  season_4        731 non-null    int64
 47  year_2008       731 non-null    int64
 48  year_2009       731 non-null    int64
 49  year_2010       731 non-null    int64
 50  year_2011       731 non-null    int64
 51  year_2012       731 non-null    int64
 52  year_2013       731 non-null    int64
 53  year_2014       731 non-null    int64
 54  year_2015       731 non-null    int64
 55  year_2016       731 non-null    int64
 56  year_2017       731 non-null    int64
 57  year_2018       731 non-null    int64
 58  year_2019       731 non-null    int64
 59  month_1         731 non-null    int64
 60  month_2         731 non-null    int64
 61  month_3         731 non-null    int64
 62  month_4         731 non-null    int64
 63  month_5         731 non-null    int64
 64  month_6         731 non-null    int64
 65  month_7         731 non-null    int64
 66  month_8         731 non-null    int64
 67  month_9         731 non-null    int64
 68  month_10        731 non-null    int64
 69  month_11        731 non-null    int64
 70  month_12        731 non-null    int64
 71  screen_cat      731 non-null    category
dtypes: category(1), int64(69), object(2)
memory usage: 412.1+ KB

In [65]:
movie = strat_train_set.drop(['Sales', 'Audience', 'Movie', 'Distributor'], axis=1)
movie_labels = strat_train_set['Sales']

In [62]:
# movie_num = movie.drop(['Movie', 'Distributor', 'Genre', 'Rate', 'Year', 'Month', 'Season', 'Screen'], axis=1)

In [128]:
# from sklearn.pipeline import Pipeline
# from sklearn.preprocessing import StandardScaler

# num_pipeline = Pipeline([
#     ('std_scaler', StandardScaler())
# ])

In [46]:
# from sklearn.compose import ColumnTransformer

# num_attribs = list(movie_num)
# cat_attribs = ["Genre", "Rate", "Season", "Year", "Month"]

# full_pipeline = ColumnTransformer([
# #     ("num", num_pipeline, num_attribs),
#     ("cat", OneHotEncoder(), cat_attribs)
# ])

# movie_prepared = full_pipeline.fit_transform(movie)

In [66]:
# movie_prepared.toarray()

In [67]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()
reg.fit(movie, movie_labels)

LinearRegression()

In [70]:
pred_tr = reg.predict(movie)
# pred_test = reg.predict(X_test)
rmse_tr = (np.sqrt(mean_squared_error(movie_labels, pred_tr)))
# rmse_test = (np.sqrt(mean_squared_error(y_test, pred_test)))

print('RMSE of Train Data : ', rmse_tr)
# print('RMSE of Test Data : ', rmse_test)

RMSE of Train Data :  10635.608948586609

In [71]:
# some_data = movie.iloc[:5]
# some_labels = movie_labels.iloc[:5]
# some_data_prepared = full_pipeline.transform(some_data)

# print("Predict : ", reg.predict(some_data_prepared))

In [50]:
print("Label : ", list(some_labels))

Label :  [88900.208769, 23790.276987, 308.898, 5680.8735, 8864.695589]

In [51]:
from sklearn.metrics import mean_squared_error

movie_predictions = reg.predict(movie_prepared)
rmse = np.sqrt(mean_squared_error(movie_labels, movie_predictions))
print("RMSE : ", rmse)

RMSE :  15516.916098405687

In [52]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(movie_labels, movie_predictions)
print("MAE : ", mae)

MAE :  9951.482054092583

In [92]:
from sklearn.tree import DecisionTreeRegressor

tree_reg = DecisionTreeRegressor(random_state=13)
tree_reg.fit(movie_prepared, movie_labels)

DecisionTreeRegressor(random_state=13)

In [94]:
movie_predictions = tree_reg.predict(movie_prepared)
tree_rmse = np.sqrt(mean_squared_error(movie_labels, movie_predictions))
print("RMSE : ", tree_rmse)

RMSE :  0.0

In [95]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(tree_reg, movie_prepared, movie_labels, scoring='neg_mean_squared_error', cv=10)
tree_rmse_scores = np.sqrt(-scores)

In [96]:
def display_scores(scores):
    print("score : ", scores)
    print("mean : ", scores.mean())
    print("std : ", scores.std())

In [98]:
display_scores(tree_rmse_scores)

score :  [2.36943799e+09 1.30944505e+09 3.26650431e+09 1.21376777e+09
 1.07995235e+09 1.04726300e+09 1.23100140e+09 3.82929305e+09
 1.34366981e+09 1.79994393e+09]
mean :  1849027867.7198021
std :  936497631.6305668

In [99]:
lin_scores = cross_val_score(reg, movie_prepared, movie_labels, scoring='neg_mean_squared_error', cv=10)
lin_rmse_scores = np.sqrt(-lin_scores)
display_scores(lin_rmse_scores)

score :  [1.14418331e+09 1.01484775e+09 9.60745985e+08 9.01347935e+08
 9.77882305e+08 7.18977268e+08 9.04494623e+08 1.14303589e+09
 1.40977639e+09 1.69913100e+09]
mean :  1087442246.272406
std :  268619673.6362124

In [100]:
from sklearn.ensemble import RandomForestRegressor

forest_reg = RandomForestRegressor(n_estimators=100, random_state=13)
forest_reg.fit(movie_prepared, movie_labels)

RandomForestRegressor(random_state=13)

In [101]:
movie_predictions = forest_reg.predict(movie_prepared)
forest_rmse = np.sqrt(mean_squared_error(movie_labels, movie_predictions))
print("RMSE : ", forest_rmse)

RMSE :  730898041.533993

In [102]:
forest_scores = cross_val_score(forest_reg, movie_prepared, movie_labels, scoring='neg_mean_squared_error', cv=10)
forest_rmse_scores = np.sqrt(-forest_scores)
display_scores(forest_rmse_scores)

score :  [1.70316625e+09 1.01426891e+09 2.50439874e+09 7.78002980e+08
 8.53873351e+08 9.20442647e+08 1.11295591e+09 4.19137054e+09
 1.56320620e+09 1.80641015e+09]
mean :  1644809567.6432939
std :  992075435.905304