In [32]:
import warnings
warnings.filterwarnings('ignore')

In [33]:
movie = pd.read_csv('./datas/final_movie_Rev3.csv', index_col=[0])
movie.reset_index(inplace=True)

In [34]:
movie.drop(index=0, inplace=True)
movie.rename(columns={'전국': 'Screen', '전국.1': 'Sales', '전국.2': 'Audience', '영화명': 'Movie', '감독': 'Producer', '배급사': 'Distributor', '등급': 'Rate', '장르': 'Genre', '개봉일': 'Open'}, inplace=True)

In [35]:
movie['Screen'] = movie['Screen'].apply(lambda x: x.replace(",", "")).astype('int')
movie['Sales'] = movie['Sales'].apply(lambda x: x.replace(",", "")).astype('int64')
movie['Audience'] = movie['Audience'].apply(lambda x: x.replace(",", "")).astype('int')

In [36]:
movie['Open'] = pd.to_datetime(movie['Open'])

In [37]:
movie['Year'] = pd.DatetimeIndex(movie['Open']).year
movie['Month'] = pd.DatetimeIndex(movie['Open']).month
movie.drop(columns=['Open'], inplace=True)
movie['Season'] = [(month%12 + 3)//3 for month in movie['Month']]

In [38]:
movie.reset_index(drop=True, inplace=True)

In [101]:
movie['Audience'] = movie['Audience'] / 1000

In [103]:
movie.to_csv('./datas/final_movie_Rev4.csv')

In [102]:
movie

,Movie,Distributor,Screen,Sales,Audience,Genre,Rate,Year,Month,Season
0,명량,씨제이이앤엠(주),1587,135748.398910,17613.682,사극,15세이상관람가,2014,7,3
1,극한직업,씨제이이앤엠(주),1978,139647.979516,16264.944,코미디,15세이상관람가,2019,1,1
2,신과함께-죄와 벌,롯데쇼핑㈜롯데엔터테인먼트,1912,115698.654137,14410.754,판타지,12세이상관람가,2017,12,1
3,국제시장,씨제이이앤엠(주),966,110828.014630,14245.998,드라마,12세이상관람가,2014,12,1
4,베테랑,씨제이이앤엠(주),1064,105024.756250,13395.400,액션,15세이상관람가,2015,8,3
...,...,...,...,...,...,...,...,...,...,...
806,은교,롯데쇼핑㈜롯데엔터테인먼트,521,9917.728000,1346.274,멜로/로맨스,청소년관람불가,2012,4,2
807,마담 뺑덕,씨제이이앤엠(주),536,3685.882590,465.749,멜로/로맨스,청소년관람불가,2014,10,4
808,나의 PS 파트너,씨제이이앤엠(주),552,13845.218616,1823.116,멜로/로맨스,청소년관람불가,2012,12,1
809,연애의 온도,롯데쇼핑㈜롯데엔터테인먼트,567,13798.864446,1865.195,멜로/로맨스,청소년관람불가,2013,3,2
810,인간중독,(주)넥스트엔터테인먼트월드(NEW),682,11284.787400,1441.964,멜로/로맨스,청소년관람불가,2014,5,2

In [110]:
movie = pd.read_csv('./datas/final_movie_Rev4.csv', index_col=[0])
movie

,Movie,Distributor,Screen,Sales,Audience,Genre,Rate,Year,Month,Season
0,명량,씨제이이앤엠(주),1587,135748.398910,17613.682,사극,15세이상관람가,2014,7,3
1,극한직업,씨제이이앤엠(주),1978,139647.979516,16264.944,코미디,15세이상관람가,2019,1,1
2,신과함께-죄와 벌,롯데쇼핑㈜롯데엔터테인먼트,1912,115698.654137,14410.754,판타지,12세이상관람가,2017,12,1
3,국제시장,씨제이이앤엠(주),966,110828.014630,14245.998,드라마,12세이상관람가,2014,12,1
4,베테랑,씨제이이앤엠(주),1064,105024.756250,13395.400,액션,15세이상관람가,2015,8,3
...,...,...,...,...,...,...,...,...,...,...
806,은교,롯데쇼핑㈜롯데엔터테인먼트,521,9917.728000,1346.274,멜로/로맨스,청소년관람불가,2012,4,2
807,마담 뺑덕,씨제이이앤엠(주),536,3685.882590,465.749,멜로/로맨스,청소년관람불가,2014,10,4
808,나의 PS 파트너,씨제이이앤엠(주),552,13845.218616,1823.116,멜로/로맨스,청소년관람불가,2012,12,1
809,연애의 온도,롯데쇼핑㈜롯데엔터테인먼트,567,13798.864446,1865.195,멜로/로맨스,청소년관람불가,2013,3,2
810,인간중독,(주)넥스트엔터테인먼트월드(NEW),682,11284.787400,1441.964,멜로/로맨스,청소년관람불가,2014,5,2

In [111]:
actors = pd.read_csv('./datas/movie_actors_Rev3.csv', index_col=[0])
actors.rename(columns={'영화명': 'Movie'}, inplace=True)
actors

       이경영  정인기  마동석  배성우  오달수  라미란  조진웅  김기천  한이진  오정세      Movie
0        0    0    0    0    0    0    1    0    1    0         명량
1        0    1    0    0    0    0    0    0    0    1       극한직업
2        1    0    1    0    1    0    0    0    0    0  신과함께-죄와 벌
3        0    0    0    0    1    1    0    0    0    0       국제시장
4        0    0    1    1    1    0    0    1    0    0        베테랑
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...        ...
807      0    0    0    0    0    0    0    0    0    0      마담 뺑덕
808      0    0    0    0    0    0    0    0    0    0  나의 PS 파트너
809      0    0    0    0    0    1    0    0    0    0     연애의 온도
810      0    0    0    1    0    0    0    0    0    0       인간중독
Total   43   34   32   31   30   30   30   30   28   28          0

[812 rows x 11 columns]

In [112]:
movie = pd.merge(movie, actors, on='Movie')
movie

,Movie,Distributor,Screen,Sales,Audience,Genre,Rate,Year,Month,Season,이경영,정인기,마동석,배성우,오달수,라미란,조진웅,김기천,한이진,오정세
0,명량,씨제이이앤엠(주),1587,135748.398910,17613.682,사극,15세이상관람가,2014,7,3,0,0,0,0,0,0,1,0,1,0
1,극한직업,씨제이이앤엠(주),1978,139647.979516,16264.944,코미디,15세이상관람가,2019,1,1,0,1,0,0,0,0,0,0,0,1
2,신과함께-죄와 벌,롯데쇼핑㈜롯데엔터테인먼트,1912,115698.654137,14410.754,판타지,12세이상관람가,2017,12,1,1,0,1,0,1,0,0,0,0,0
3,국제시장,씨제이이앤엠(주),966,110828.014630,14245.998,드라마,12세이상관람가,2014,12,1,0,0,0,0,1,1,0,0,0,0
4,베테랑,씨제이이앤엠(주),1064,105024.756250,13395.400,액션,15세이상관람가,2015,8,3,0,0,1,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,은교,롯데쇼핑㈜롯데엔터테인먼트,521,9917.728000,1346.274,멜로/로맨스,청소년관람불가,2012,4,2,0,0,0,0,0,0,0,0,0,0
809,마담 뺑덕,씨제이이앤엠(주),536,3685.882590,465.749,멜로/로맨스,청소년관람불가,2014,10,4,0,0,0,0,0,0,0,0,0,0
810,나의 PS 파트너,씨제이이앤엠(주),552,13845.218616,1823.116,멜로/로맨스,청소년관람불가,2012,12,1,0,0,0,0,0,0,0,0,0,0
811,연애의 온도,롯데쇼핑㈜롯데엔터테인먼트,567,13798.864446,1865.195,멜로/로맨스,청소년관람불가,2013,3,2,0,0,0,0,0,1,0,0,0,0
812,인간중독,(주)넥스트엔터테인먼트월드(NEW),682,11284.787400,1441.964,멜로/로맨스,청소년관람불가,2014,5,2,0,0,0,1,0,0,0,0,0,0

In [113]:
CJEnM = movie[movie['Distributor'] == '씨제이이앤엠(주)']
CJEnM['CJEnM'] = 1
LotteShop = movie[movie['Distributor'] == '롯데쇼핑㈜롯데엔터테인먼트']
LotteShop['LotteShop'] = 1
Next = movie[movie['Distributor'] == '(주)넥스트엔터테인먼트월드(NEW)']
Next['Next'] = 1
ShowBox = movie[movie['Distributor'] == '(주)쇼박스']
ShowBox['ShowBox'] = 1
CJEnt = movie[movie['Distributor'] == '씨제이엔터테인먼트']
CJEnt['CJEnt'] = 1
CJEnM = CJEnM[['Movie', 'CJEnM']]
LotteShop = LotteShop[['Movie', 'LotteShop']]
Next = Next[['Movie', 'Next']]
ShowBox = ShowBox[['Movie', 'ShowBox']]
CJEnt = CJEnt[['Movie', 'CJEnt']] 
movie = pd.merge(movie, CJEnM, on="Movie", how='left') # 58 columns
movie = pd.merge(movie, LotteShop, on="Movie", how='left')
movie = pd.merge(movie, Next, on="Movie", how='left')
movie = pd.merge(movie, ShowBox, on="Movie", how='left')
movie = pd.merge(movie, CJEnt, on="Movie", how='left')
movie = movie.fillna(0)

In [114]:
movie

,Movie,Distributor,Screen,Sales,Audience,Genre,Rate,Year,Month,Season,...,라미란,조진웅,김기천,한이진,오정세,CJEnM,LotteShop,Next,ShowBox,CJEnt
0,명량,씨제이이앤엠(주),1587,135748.398910,17613.682,사극,15세이상관람가,2014,7,3,...,0,1,0,1,0,1.0,0.0,0.0,0.0,0.0
1,극한직업,씨제이이앤엠(주),1978,139647.979516,16264.944,코미디,15세이상관람가,2019,1,1,...,0,0,0,0,1,1.0,0.0,0.0,0.0,0.0
2,신과함께-죄와 벌,롯데쇼핑㈜롯데엔터테인먼트,1912,115698.654137,14410.754,판타지,12세이상관람가,2017,12,1,...,0,0,0,0,0,0.0,1.0,0.0,0.0,0.0
3,국제시장,씨제이이앤엠(주),966,110828.014630,14245.998,드라마,12세이상관람가,2014,12,1,...,1,0,0,0,0,1.0,0.0,0.0,0.0,0.0
4,베테랑,씨제이이앤엠(주),1064,105024.756250,13395.400,액션,15세이상관람가,2015,8,3,...,0,0,1,0,0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,은교,롯데쇼핑㈜롯데엔터테인먼트,521,9917.728000,1346.274,멜로/로맨스,청소년관람불가,2012,4,2,...,0,0,0,0,0,0.0,1.0,0.0,0.0,0.0
809,마담 뺑덕,씨제이이앤엠(주),536,3685.882590,465.749,멜로/로맨스,청소년관람불가,2014,10,4,...,0,0,0,0,0,1.0,0.0,0.0,0.0,0.0
810,나의 PS 파트너,씨제이이앤엠(주),552,13845.218616,1823.116,멜로/로맨스,청소년관람불가,2012,12,1,...,0,0,0,0,0,1.0,0.0,0.0,0.0,0.0
811,연애의 온도,롯데쇼핑㈜롯데엔터테인먼트,567,13798.864446,1865.195,멜로/로맨스,청소년관람불가,2013,3,2,...,1,0,0,0,0,0.0,1.0,0.0,0.0,0.0
812,인간중독,(주)넥스트엔터테인먼트월드(NEW),682,11284.787400,1441.964,멜로/로맨스,청소년관람불가,2014,5,2,...,0,0,0,0,0,0.0,0.0,1.0,0.0,0.0

In [115]:
convert = {'CJEnM': int, 'LotteShop': int, 'Next': int, 'ShowBox': int, 'CJEnt': int}
movie = movie.astype(convert)

In [116]:
movie

,Movie,Distributor,Screen,Sales,Audience,Genre,Rate,Year,Month,Season,...,라미란,조진웅,김기천,한이진,오정세,CJEnM,LotteShop,Next,ShowBox,CJEnt
0,명량,씨제이이앤엠(주),1587,135748.398910,17613.682,사극,15세이상관람가,2014,7,3,...,0,1,0,1,0,1,0,0,0,0
1,극한직업,씨제이이앤엠(주),1978,139647.979516,16264.944,코미디,15세이상관람가,2019,1,1,...,0,0,0,0,1,1,0,0,0,0
2,신과함께-죄와 벌,롯데쇼핑㈜롯데엔터테인먼트,1912,115698.654137,14410.754,판타지,12세이상관람가,2017,12,1,...,0,0,0,0,0,0,1,0,0,0
3,국제시장,씨제이이앤엠(주),966,110828.014630,14245.998,드라마,12세이상관람가,2014,12,1,...,1,0,0,0,0,1,0,0,0,0
4,베테랑,씨제이이앤엠(주),1064,105024.756250,13395.400,액션,15세이상관람가,2015,8,3,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,은교,롯데쇼핑㈜롯데엔터테인먼트,521,9917.728000,1346.274,멜로/로맨스,청소년관람불가,2012,4,2,...,0,0,0,0,0,0,1,0,0,0
809,마담 뺑덕,씨제이이앤엠(주),536,3685.882590,465.749,멜로/로맨스,청소년관람불가,2014,10,4,...,0,0,0,0,0,1,0,0,0,0
810,나의 PS 파트너,씨제이이앤엠(주),552,13845.218616,1823.116,멜로/로맨스,청소년관람불가,2012,12,1,...,0,0,0,0,0,1,0,0,0,0
811,연애의 온도,롯데쇼핑㈜롯데엔터테인먼트,567,13798.864446,1865.195,멜로/로맨스,청소년관람불가,2013,3,2,...,1,0,0,0,0,0,1,0,0,0
812,인간중독,(주)넥스트엔터테인먼트월드(NEW),682,11284.787400,1441.964,멜로/로맨스,청소년관람불가,2014,5,2,...,0,0,0,0,0,0,0,1,0,0

In [96]:
movie.to_csv('./datas/final_movie_Rev5.csv')